version: "3"

services:
  app:
    build:
      context: ../app/.
    depends_on:
      - api
    container_name: app
    restart: unless-stopped
    environment:
      NODE_ENV: "dev"
    ports:
      - "3000:3000"
    volumes:
      - ../app/:/usr/src/app
    command: yarn dev

  api:
    build:
      context: ../api/.
    depends_on:
      - database
    container_name: api
    restart: unless-stopped
    env_file: ../api/.env
    environment:
      DATABASE_HOST: "database"
      DATABASE_PORT: 3306
      DATABASE_NAME: "cantodarua"
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: "secret"
      DATABASE_SSL: "false"
      NODE_ENV: "develop"
    ports:
      - "1337:1337"
    volumes:
      - ../api/:/home/node/app
    command: npm run develop

  database:
    image: mysql:5.6.35
    command: --default-authentication-plugin=mysql_native_password --init-file /data/application/init.sql
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: "cantodarua"
      MYSQL_PASSWORD: "secret"
      MYSQL_ROOT_PASSWORD: "secret"

    volumes:
      - ./compose/docker-mysql/:/docker-entrypoint-initdb.d
      - ./compose/init.sql:/data/application/init.sql
