name: deploy api

on:
  push:
    branches:
      - dev
      - main
    paths:
      - 'api/**'

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  RUN_REGION: us-east1
  
jobs:
  setup-build-deploy:
    name: build and deploy
    runs-on: ubuntu-latest

    steps:
      - name: Set env to dev
        if: endsWith(github.ref, '/dev')
        run: |
          echo "::set-env name=SERVICE_NAME::api-dev"
      - name: Set env to production
        if: endsWith(github.ref, '/main')
        run: |
          echo "::set-env name=SERVICE_NAME::api"

      - name: Checkout
        uses: actions/checkout@v1

      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: "275.0.0"
          service_account_email: ${{ secrets.SA_EMAIL }}
          service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS}}

      - name: gcloud Set up
        run: |
          gcloud config set project $PROJECT_ID
      
      - name: build
        run: |
          cd api && gcloud builds submit -t gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA
      
      - name: deploy
        run: |
          cd api && gcloud run deploy $SERVICE_NAME \
            --region $RUN_REGION \
            --image gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA \
            --platform managed
